<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--干嘛用的？-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vue practice</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="example-1">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>

    <div id="app">
        <p>Multiline message is:</p>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>

    <div id="app1">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>

    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="app2">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <div id="app3">
        <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
    </div>

    <div id="app5">
            <input type="radio" v-model="pick" v-bind:value="a">
    </div>

    <div id="app4">
        <select v-model="selected">
            <!-- 内联对象字面量 -->
            <option v-bind:value="{ number: 123 }">123</option>
        </select>
    </div>

</body>

</html>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            message: ''
        }
    })

    new Vue({
        el: '#app',
        data: {
            message: ''
        }
    })

    new Vue({
        el: '#app1',
        data: {
            checked: true
        }
    })

    new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    })

    var e4 = new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    })

    new Vue({
        el: '#example-5',
        data: {
            selected: 'A'
        }
    })

    new Vue({
        el: '#example-6',
        data: {
            selected: []
        }
    })

    new Vue({
        el: '#app2', //……漏了一個#找問題找半天
        data: {
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    })

    var vm = new Vue({
        el: '#app3',
        data: {
            toggle: true
        }
    })

    var vm = new Vue({
        el: '#app5',
        data: {
            pick: true
        }
    })

    var vm = new Vue({
        el: 'app4',
        data: {
            selected: ''
        }
    })
</script>